---
import { cn } from "~/utils/clsx";

export type AlertType = "info" | "success" | "warning" | "error";

export interface Props {
  type: AlertType;
  class?: string;
}

const { type, class: _class } = Astro.props;

const colors: Record<AlertType, `border-${string}-${number}`> = {
  error: "border-red-400",
  info: "border-blue-400",
  success: "border-green-400",
  warning: "border-yellow-400",
};

const border = colors[type];
---

<div
  class={cn(
    "border-l-2 px-4 bg-neutral-100 dark:bg-neutral-900 py-2 rounded-r",
    border,
    _class,
  )}
>
  <slot />
</div>
