---
import "../../base.css";
import Navbar from "./navbar.astro";

export interface Props {
  title: string;
  description?: string;
  keywords?: string[];
}

const title = Astro.props.title;
const description =
  Astro.props.description ?? "This webpage has no description provided";
const keywords =
  Astro.props.keywords ?? Astro.props.description?.split(" ") ?? [];
---

<!doctype html>
<html lang="en" class="bg-white text-black dark:bg-dark dark:text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(" ")} />
    <link rel="canonical" href={Astro.url} />
  </head>
  <body
    class="mx-4 mb-40 mt-8 flex max-w-2xl flex-col antialiased md:flex-row lg:mx-auto"
  >
    <main class="mt-6 flex min-w-0 flex-auto flex-col px-2 md:px-0">
      <Navbar />
      <slot />
    </main>
  </body>
</html>
