---
import {
  getLangFromUrl,
  useTranslations,
  getPathWithoutLangFromUrl,
  getStaticPaths,
} from "~/i18n/utils";
import NavbarLink from "./navbar-link.astro";

const lang = getLangFromUrl(Astro.url);
const pagePath = getPathWithoutLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isActive = (type: "home" | "blog") => {
  switch (type) {
    case "home": {
      return Astro.url.pathname === "/" + lang;
    }
    case "blog":
    default: {
      return Astro.url.pathname.includes("/" + type);
    }
  }
};
---

<aside class="-ml-[8px] mb-16 tracking-tight">
  <div class="lg:sticky lg:top-20">
    <nav
      class="fade relative flex scroll-pr-6 flex-row items-start px-0 pb-0 md:relative md:overflow-auto"
      id="nav"
    >
      <div class="flex flex-row space-x-0 pr-10">
        <NavbarLink
          title={t("nav.home")}
          href={"/" + lang}
          active={isActive("home")}
        />
        <NavbarLink
          title={t("nav.about")}
          href={`/${lang}/blog`}
          active={isActive("blog")}
        />
      </div>
      <div class="ml-auto flex">
        {
          getStaticPaths().map((path) => (
            <NavbarLink
              title={path.params.lang}
              href={`/${path.params.lang}${
                pagePath.length === 0 ? "" : "/" + pagePath
              }`}
              active={lang === path.params.lang}
            />
          ))
        }
      </div>
    </nav>
  </div>
</aside>
