---
import { type TechLinkIcon, default as Icon } from "./icon.astro";
export interface Props {
  title: string;
  href: string;
  blank?: boolean;
  icon: TechLinkIcon;
}
---

<span class="not-prose">
  <a
    href={Astro.props.href}
    rel={Astro.props.blank ? "noopener noreferrer" : "noopener"}
    target={Astro.props.blank ? "_blank" : undefined}
    class="inline-flex items-center rounded border border-neutral-200 bg-neutral-50 p-1 text-sm leading-4 text-neutral-900 no-underline dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-100"
  >
    <Icon icon={Astro.props.icon} />
    <span class="ml-0.5">{Astro.props.title}</span>
  </a>
</span>
