---
import Layout from "~/components/static/layout.astro";
import GamedleList from "~/components/interactive/gamedle/gamedle-list";
import { Gamedle } from "../utils/gamedle/get-game-info";
const list = await Gamedle.getGames();
const updatedAt = new Date().toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title="Gamedle Assistant">
  <div class="mt-2 border-l-2 border-green-400 pl-4">
    Last updated on <span class="font-bold">{updatedAt}</span>
  </div>
  <GamedleList initial={list} client:load />
</Layout>
