---
import DefaultLayout from "../layouts/default.astro";
import AboutMe from "../components/homepage/about-me";
import BlogpostPreview from "../components/ui/blogpost-preview";
import Mogus from "../components/mogus";
import { Suspense } from "react";
import getBlogPages from "../utils/get-blog-pages";
import Project from "../components/ui/project";

const posts = await getBlogPages();
---

<DefaultLayout title="Kopenkin Dmitrii">
  <div class="w-full rounded-xl border border-zinc-300 p-4">
    <a href="/#about">
      <h2 class="font-semibold text-xl mb-4" id="#about">About me</h2>
    </a>
    <AboutMe />

    <a href="/#projects">
      <h2 class="font-semibold text-xl mb-4 mt-8" id="#projects">Projects</h2>
    </a>
    <div class="overflow-hidden w-full -m-1">
      <div
        class="grid grid-flow-col auto-cols-min w-full h-full gap-4 snap-x snap-mandatory overflow-x-auto p-1"
      >
        <Project
          img="/thumbnails/portfolio.png"
          title="Portfolio website"
          tech={["Astro", "TailwindCSS", "React"]}
          demoLink="https://kopenkin.tech"
          codeLink="https://github.com/kopenkinda/portfolio"
        />
      </div>
    </div>

    <a href="/blog">
      <h2 class="font-semibold text-xl mb-4 mt-8" id="#blog">Blog</h2>
    </a>
    <div class="overflow-hidden w-full -m-1">
      <div
        class="grid grid-flow-col auto-cols-min w-full h-full gap-4 snap-x snap-mandatory overflow-x-auto p-1"
      >
        {posts.slice(0, 3).map((post) => <BlogpostPreview post={post} />)}
        <a
          href="/blog"
          class="inline-flex snap-start items-center py-4 justify-center whitespace-nowrap rounded-md border border-zinc-300 transition-all hover:border-zinc-500"
        >
          <span class="w-72 text-center">
            {posts.length >= 3 ? "More posts 👀" : "More posts coming soon 👀"}
          </span>
        </a>
      </div>
    </div>
  </div>
  <Suspense fallback={null}>
    <Mogus client:idle />
  </Suspense>
</DefaultLayout>
