---
import Logo from "./logo.astro";
import { BrandGithub, BrandLinkedin, BrandTwitch } from "tabler-icons-react";
import type { BreadcrumbsProps } from "./ui/breadcrumbs.astro";
import Breadcrumbs from "./ui/breadcrumbs.astro";

export interface NavProps {
  breadcrumbs: BreadcrumbsProps["breadcrumbs"];
}

const { breadcrumbs } = Astro.props as NavProps;
---

<nav class="flex items-center p-4">
  <a href="/">
    <Logo />
  </a>
  <div class="ml-4 hidden items-center sm:flex">
    <Breadcrumbs breadcrumbs={breadcrumbs} />
  </div>
  <div
    class="ml-auto flex items-center gap-1 rounded-xl border border-zinc-300 px-6 py-4 lg:gap-3"
  >
    <a
      href="https://www.twitch.tv/dmitriyk_"
      class="grid h-6 w-6 place-items-center rounded-md transition-colors hover:bg-[#aa70ff] hover:text-white focus:bg-[#aa70ff] focus:text-white"
    >
      <BrandTwitch className="w-4" />
    </a>
    <a
      href="https://www.linkedin.com/in/dmitrii-kopenkin/"
      class="grid h-6 w-6 place-items-center rounded-md transition-colors hover:bg-[#0966c2] hover:text-white focus:bg-[#0966c2] focus:text-white"
    >
      <BrandLinkedin className="w-4" />
    </a>
    <a
      href="https://github.com/kopenkinda"
      class="grid h-6 w-6 place-items-center rounded-md transition-colors hover:bg-[#171515] hover:text-white focus:bg-[#171515] focus:text-white"
    >
      <BrandGithub className="w-4" />
    </a>
  </div>
</nav>
