---
export { getStaticPaths } from "~/i18n/utils";

import Layout from "~/components/static/layout.astro";
import BuzzerClient from "~/components/interactive/buzzer/buzzer";
import {
  getLangFromUrl,
  useAllTranslations,
  useTranslations,
} from "~/i18n/utils";
import type { BuzzerTranslations } from "~/i18n/translations/buzzer";
import Alert from "~/components/static/alert.astro";
const lang = getLangFromUrl(Astro.url);
const translations = useAllTranslations<BuzzerTranslations>(lang);
const t = useTranslations(lang);
---

<Layout title={t("buzzer.title")}>
  <Alert type="warning" class="mb-8">
    {t("buzzer.support")}
  </Alert>
  <h1 class="mb-4 text-xl font-bold">{t("buzzer.title")}</h1>
  <BuzzerClient client:load {translations} />
</Layout>
