---
export { getStaticPaths } from "../../i18n/utils";
import Layout from "../../components/static/layout.astro";
---

<Layout title="TODO: Put a proper title here">
  <h1 class="mb-8 text-2xl font-bold tracking-tight">Salut, I'm dmitrii 👋</h1>

  <p class="prose prose-neutral dark:prose-invert"></p>
</Layout>
