---
export { getStaticPaths } from "../../i18n/utils";
import Layout from "../../components/static/layout.astro";
import TechLink from "../../components/static/tech-link.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("name")}>
  <h1 class="mb-8 text-2xl font-bold tracking-tight">
    {t("homepage.welcome")}
  </h1>

  <p class="prose prose-neutral dark:prose-invert">
    {t("homepage.description.0")}
    <TechLink
      href="https://digikare.com/"
      title="Digikare"
      blank
      icon="digikare"
    />
    {t("homepage.description.1")}
  </p>
</Layout>
