---
import { Clock2, Dots, X } from "tabler-icons-react";
import type { PostMetadata } from "../../utils/get-post-metadata";
import Keywords from "./keywords.astro";
import { join } from "path";

interface BlogpostPreviewProps {
  post: PostMetadata;
  class?: string;
}

const { post, class: _class } = Astro.props as BlogpostPreviewProps;
---

<a href={"/blog/" + post.slug} class="h-full" rel="prefetch">
  <div
    class:list={[
      `inline-flex h-full w-72 snap-start flex-col rounded-md border border-zinc-300 p-4 transition-all hover:border-zinc-500`,
      {
        [_class]: _class !== undefined,
      },
    ]}
  >
    <img
      src={`/thumbnails/${post.thumbnail}`}
      alt={post.title}
      class="w-full rounded-md aspect-[16/6]"
    />
    <strong class="my-2">{post.title}</strong>
    <div class="mt-auto flex items-center">
      <span class="flex items-center">
        <Clock2 className="mr-2 w-4" />
        <span>{post.readTime} min</span>
        <X className="mx-2 w-2" />
        <Keywords words={post.keywords.slice(0, 2)} />
        {post.keywords.length > 2 && <Dots className="ml-2 w-4" />}
      </span>
    </div>
  </div>
</a>
